<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/user/:userId/content</key>
	<string>pandaMaMa.userContentController</string>
	<key>/user/:userId/detail</key>
	<string>pandaMaMa.detailController</string>
	<key>/user/:userId/execute</key>
	<string>pandaMaMa.executeController</string>
</dict>
</plist>
